In [1]:
# Set the PySpark environment variables
import os
os.environ['SPARK_HOME'] = "/home/rajesh/CSL7100/PySpark/spark-3.4.2-bin-hadoop3"
os.environ['PYSPARK_DRIVER_PYTHON'] = 'jupyter'
os.environ['PYSPARK_DRIVER_PYTHON_OPTS'] = 'lab'
os.environ['PYSPARK_PYTHON'] = 'python'

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import desc

In [3]:
# Create a SparkSession
spark = SparkSession.builder.appName("DataFrame-Gutenberg").getOrCreate()

26/02/13 09:09:38 WARN Utils: Your hostname, rajesh-pc resolves to a loopback address: 127.0.1.1; using 192.168.0.39 instead (on interface wlp1s0)
26/02/13 09:09:38 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/02/13 09:09:39 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Create dataframe

In [6]:
from pyspark.sql.functions import regexp_extract

books_df = (
    spark.sparkContext
         .wholeTextFiles("/home/rajesh/CSL7100/Assignment1/data/D184MB/*.txt")   #Read all .txt files 
         .toDF(["file_path", "text"]) # Convert RDD into Dataframe with columnts file_path and text
         .withColumn(
             "file_name",  #create a new column 
             regexp_extract("file_path", r"([^/]+$)", 1) # extract only file name from file_path  
         )
         .select("file_name", "text")  #keep only file_name and text
)

In [7]:
books_df.printSchema()

root
 |-- file_name: string (nullable = true)
 |-- text: string (nullable = true)

In [8]:
row = books_df.first()

print("File name:", row.file_name)
print("Text preview:\n", row.text[:100])   # first 1000 chars only

[Stage 2:>                                                          (0 + 1) / 1]

File name: 10.txt
Text preview:
 The Project Gutenberg EBook of The King James Bible

This eBook is for the use of anyone anywhere

26/02/13 09:10:47 WARN PythonRunner: Detected deadlock while completing task 0.0 in stage 2 (TID 2): Attempting to kill Python Worker

# 1. Metadata Extraction

In [9]:
from pyspark.sql.functions import regexp_extract, col

#create a new data frame with columns
books_df = (
    df
    .withColumn("title",         #create
        regexp_extract("text", r"(?i)Title:\s*(.*)", 1)
    )
    .withColumn("release_date",
        regexp_extract("text", r"(?i)Release Date:\s*(.*)", 1)
    )
    .withColumn("language",
        regexp_extract("text", r"(?i)Language:\s*(.*)", 1)
    )
    .withColumn("encoding",
        regexp_extract("text", r"(?i)Character set encoding:\s*(.*)", 1)
    )
    .select("file_name", "title", "release_date", "language", "encoding")
)

books_df.show(truncate=False)

[Stage 3:>                                                          (0 + 1) / 1]

+---------+---------------------------------------------------+----------------------------+--------+---------------------+
|file_name|title                                              |release_date                |language|encoding             |
+---------+---------------------------------------------------+----------------------------+--------+---------------------+
|10.txt   |The King James Bible                               |March 2, 2011 [EBook #10]   |English |ASCII                |
|101.txt  |Hacker Crackdown                                   |January, 1994               |English |ASCII                |
|102.txt  |The Tragedy of Pudd'nhead Wilson                   |January, 1994               |English |ASCII                |
|103.txt  |Around the World in 80 Days                        |May 15, 2008 [EBook #103]   |English |ASCII                |
|104.txt  |Franklin Delano Roosevelt's First Inaugural Address|May 14, 2008 [EBook #104]   |English |ASCII                |
|105.txt  |Persuasion                                         |June 5, 2008 [EBook #105]   |English |ASCII                |
|106.txt  |Jungle Tales of Tarzan                             |June 5, 2008 [EBook #106]   |English |ASCII                |
|107.txt  |Far from the Madding Crowd                         |February, 1994  [eBook #107]|English |ISO-646-US (US-ASCII)|
|108.txt  |The Return of Sherlock Holmes                      |July 8, 2007 [EBook #108]   |English |ASCII                |
|109.txt  |Renascence and Other Poems                         |June 19, 2008 [EBook #109]  |English |ASCII                |
|11.txt   |Alice's Adventures in Wonderland                   |March, 1994                 |English |ASCII                |
|110.txt  |Tess of the d'Urbervilles                          |February, 1994  [eBook #110]|English |ISO-646-US (US-ASCII)|
|111.txt  |Freckles                                           |March 8, 2006 [EBook #111]  |English |ASCII                |
|112.txt  |Violists                                           |March, 1994                 |English |ASCII                |
|113.txt  |The Secret Garden                                  |May 15, 2008 [EBook #113]   |English |ASCII                |
|114.txt  |Tenniel Illustrations for Alice in Wonderland      |May 27, 2008 [EBook #114]   |English |ASCII                |
|115.txt  |United States Census Figures back to 1630          |June 5, 2008 [EBook #115]   |English |ASCII                |
|117.txt  |Beethoven's Fifth Symphony, in C-minor, Opus #67   |March 16, 2012 [EBook #117] |English |ASCII                |
|118.txt  |Big Dummy's Guide to the Internet                  |March, 1994                 |English |ASCII                |
|12.txt   |Through the Looking-Glass                          |February, 1991              |English |ASCII                |
+---------+---------------------------------------------------+----------------------------+--------+---------------------+
only showing top 20 rows

26/02/13 09:10:59 WARN PythonRunner: Detected deadlock while completing task 0.0 in stage 3 (TID 3): Attempting to kill Python Worker

In [11]:
from pyspark.sql.functions import trim, regexp_replace

books_df = (
    books_df
    .withColumn("title", trim(col("title")))
    .withColumn("language", trim(col("language")))
    .withColumn(
        "release_date",
        trim(regexp_replace("release_date", r"\[.*", ""))
    )
)

In [12]:
books_df.show(5, truncate=True)

[Stage 5:>                                                          (0 + 1) / 1]

+---------+--------------------+-------------+--------+--------+
|file_name|               title| release_date|language|encoding|
+---------+--------------------+-------------+--------+--------+
|   10.txt|The King James Bible|March 2, 2011| English|   ASCII|
|  101.txt|    Hacker Crackdown|January, 1994| English|   ASCII|
|  102.txt|The Tragedy of Pu...|January, 1994| English|   ASCII|
|  103.txt|Around the World ...| May 15, 2008| English|   ASCII|
|  104.txt|Franklin Delano R...| May 14, 2008| English|   ASCII|
+---------+--------------------+-------------+--------+--------+
only showing top 5 rows

26/02/13 09:23:43 WARN PythonRunner: Detected deadlock while completing task 0.0 in stage 5 (TID 5): Attempting to kill Python Worker

# 2. Analysis

# Calculate the number of books released each year.

In [14]:
from pyspark.sql.functions import regexp_extract

df_with_year = books_df.withColumn(
    "release_year",
    regexp_extract("release_date", r"(18|19|20)\d{2}", 0)  # extract a valid 4 digit year in the range 1800 to 2099
)
df_with_year.show(5)

[Stage 7:>                                                          (0 + 1) / 1]

+---------+--------------------+-------------+--------+--------+------------+
|file_name|               title| release_date|language|encoding|release_year|
+---------+--------------------+-------------+--------+--------+------------+
|   10.txt|The King James Bible|March 2, 2011| English|   ASCII|        2011|
|  101.txt|    Hacker Crackdown|January, 1994| English|   ASCII|        1994|
|  102.txt|The Tragedy of Pu...|January, 1994| English|   ASCII|        1994|
|  103.txt|Around the World ...| May 15, 2008| English|   ASCII|        2008|
|  104.txt|Franklin Delano R...| May 14, 2008| English|   ASCII|        2008|
+---------+--------------------+-------------+--------+--------+------------+
only showing top 5 rows

26/02/13 09:30:17 WARN PythonRunner: Detected deadlock while completing task 0.0 in stage 7 (TID 7): Attempting to kill Python Worker

In [15]:
from pyspark.sql.functions import count

books_per_year = (
    df_with_year
    .filter("release_year != ''")        #remove empty years
    .groupBy("release_year")             # group by year
    .agg(count("*").alias("num_books"))  # count bootks per year
    .orderBy("release_year")             # sort by release year
)

books_per_year.show(5)

[Stage 8:>                                                          (0 + 2) / 2]

+------------+---------+
|release_year|num_books|
+------------+---------+
|        1975|        1|
|        1978|        1|
|        1979|        1|
|        1991|        7|
|        1992|       19|
+------------+---------+
only showing top 5 rows

Find the most common language in the dataset

In [17]:
from pyspark.sql.functions import count, trim, col

most_common_language = (
    books_df
    .withColumn("language", trim(col("language")))   #remove extra spaces from language values
    .filter(col("language").rlike("^[A-Za-z ]+$")) # language should have only alphabet characters, filter out the empty values, numbers etc.
    .groupBy("language")  #group by same language
    .agg(count("*").alias("num_books"))  #sum by language
    .orderBy(col("num_books").desc()) #sort by the num_books
)

most_common_language.show(5, truncate=False)

[Stage 14:>                                                         (0 + 2) / 2]

+--------+---------+
|language|num_books|
+--------+---------+
|English |404      |
|Latin   |6        |
+--------+---------+

In [28]:
from pyspark.sql.functions import count, trim, col

book_title = (
    books_df
    .withColumn("title", trim(col("title")))   #clean title column
    .filter(col("title") != "")  #remove empty titles
    .select("title") #keep only title column
)


book_title.show(5, truncate=False)

[Stage 20:>                                                         (0 + 1) / 1]

+---------------------------------------------------+
|title                                              |
+---------------------------------------------------+
|The King James Bible                               |
|Hacker Crackdown                                   |
|The Tragedy of Pudd'nhead Wilson                   |
|Around the World in 80 Days                        |
|Franklin Delano Roosevelt's First Inaugural Address|
+---------------------------------------------------+
only showing top 5 rows

26/02/13 09:56:39 WARN PythonRunner: Detected deadlock while completing task 0.0 in stage 20 (TID 20): Attempting to kill Python Worker

Determine the average length of book titles (in characters)

In [30]:
from pyspark.sql.functions import length, avg, col, trim

avg_title_length = (
    book_title
    .withColumn("title_length", length(col("title")))  #compute the title length
    .agg(avg("title_length").alias("avg_title_length_chars")) #avg out the title length
)

avg_title_length.show()

[Stage 24:>                                                         (0 + 2) / 2]

+----------------------+
|avg_title_length_chars|
+----------------------+
|    22.829268292682926|
+----------------------+

In [27]:
spark.stop()